@import "~bootstrap/scss/bootstrap";
body{
    overflow: hidden;
}
.header{
    .menu{
        height: 100vh;
        background-color: #222;
        ul{
            list-style: none;
            color: white;
            text-align: center;
            li{
                padding-bottom: 1rem;
                padding-top: 1rem;
                border-bottom: 1px solid #04b4e0;
                .active{
                    color: #04b4e0;
                }
                a{
                    transition: .5s;
                    &:hover{
                        color: #04b4e0;
                        transition-duration: .5s;
                    }
                    color: #fff;
                    font-weight: 600;
                    &:hover{
                        text-decoration: none;
                    }
                }
                i{
                    font-size: 30px;
                }
            }
        }
    }
    .personal{
        height: 100vh;
        background-color: #444444;
        .footer{
            position: relative;
            p{
                font-weight: 600;
            }
        }
        .head-photo{
            position: relative;
            width: 180px;
            margin: 0 auto 30px;
            z-index: 1;
            img{
                max-width: 100%;
                background-color: #fff;
                border: 3px solid #fff;
                border-radius: 300px;
            }
        }
        .info{
            h5{
                color: #bbb;
            }
            .icons{
                font-size: 24px;
                a{
                    padding: 10px 13px;
                    color: #fff;
                    margin-right: 10px;
                    &:hover{
                        color: unset;
                        border-radius: 50%;
                        background-color: #bbb;
                    }
                }
            }
        }
    }
}
.body{
    padding: 60px;
    overflow-y: scroll;
    overflow-x: hidden;
    .home{
        vertical-align: middle;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-box-pack: center;
        align-content: stretch;
        .resume{
            font-size: 24px;
            border:1px solid white;
            padding: 10px 20px;
            border-radius: 50px;
            transition: .2s;
            &:hover{
                background-color:#04b4e0 ;
                text-decoration: none;
            }
        }
        
    }
    .page-title{
        position: relative;
        display: inline;
        &::after{
            position: absolute;
            content: '';
            display: inline-block;
            width: 100%;
            height: 5px;
            background: #04b4e0;
            left: 0px;
            bottom: -5px;
            animation: line 1s;
            @keyframes line {
                from {width: 0%;}
                to {top: 100%;}
            }
        }
    }
    @media only screen and (max-width: 500px) {
        .about{
            overflow-x: scroll;
        }
    }
    .about{
        @media only screen and (max-width: 500px) {
            overflow-x: scroll;
        }
        overflow: hidden;
        .content{
            h3{
                span{
                    color: #04b4e0;
                }
            }
            p{
                font-weight: 600;
            }
            table{
                th,td{
                    padding-bottom: 15px;
                    font-weight: 600;
                    // width: 1000px;
                }
            }
        }
    }
    .contact{
        .c-card{
            margin-bottom: 20px;
            i{
                font-size: 34px;
                margin-bottom: 20px;
            }
            padding: 30px 20px;
            border:1px solid #04b4e0;
            transition: .5s;
            &:hover{
                background-color: white;
                color: #04b4e0;
            }
        }
    }
    .skills{
        .progress-bar{
            background-color: #04b4e0;
            font-weight: 600;
        }
    }
    /* width */
    &::-webkit-scrollbar {
        position: fixed;
        width: 6px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background: #222; 
    }
    
    &::-webkit-scrollbar-thumb {
        background: #888; 
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: #04b4e0; 
    }
    height: 100vh;
    background-color: #222;
    color: white;
}
.ham-menu{
    position: fixed;
    right: 15px;
    top: 10px;
    z-index: 10000;
    color: white;
    font-size: 24px;
    padding: 10px;
    background: #04b4e0;
    border-radius: 50px;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .menu,.personal{
        overflow-y: scroll;
        overflow-x: hidden;
        /* width */
        &::-webkit-scrollbar {
            width: 6px;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            background: #222; 
        }
        
        &::-webkit-scrollbar-thumb {
            background: #888; 
        }
        
        &::-webkit-scrollbar-thumb:hover {
            background: #04b4e0; 
        }
    }
}